{% extends 'base.html' %}
{% load static %}

{% block content %}
<h1 class="text-center display-4 font-weight-bold font-italic">Eliminar clientes</h1>

<div class="alert alert-warning">
    <div clas="row m-7 justify-content-center align-items-center">
        <strong>Advertencia!!!</strong> 
        <br>
        Usted esta a punto de borrar un cliente.
    </div>
</div>

<h3 class="text-center display-6">Desea borrar al cliente?</h3>

<div class="row mt-3 justify-content-center">
    <div class="card" style="width: 400px;">
        <img class="card-img-top" src="{% static 'images/user.png' %}" alt="Card image">

        <div class="card-body">            
            <form method="POST">{% csrf_token %}    
                <p>Nombre: {{delete_detail.nombre}}</p>
                <p>Apellido: {{delete_detail.apellido}}</p>
                <p>DNI: {{delete_detail.dni}}</p>
                <button class="btn btn-danger row col-10 ml-4" type="submit" value="Borrar" data-toggle="tooltip" data-placement="right" title="Borrar"><i class="fa-solid fa-user-minus"></i></button>
                <a href="{% url 'cliente_app:panel-cliente'%}" class="fa-solid fa-rotate-left btn btn-primary row col-10 ml-4 mt-3" data-toggle="tooltip" data-placement="right" title="Volver"></a>
            </form>    
        </div>
    </div>
</div>
{% endblock content %}