{% extends 'base.html' %}
{% load static %}

{% block content %}
<h1 class="text-center display-4 font-weight-bold font-italic">Modificacion de Clientes</h1>

<div class="alert alert-info">
    <div clas="row m-7 justify-content-center align-items-center">
        <strong>Importante!:</strong> 
        <br>
        Al modificar el DNI de un cliente,se recomienda eliminar el cliente existente.
        <br>
        
    </div>
</div>
 <div class="row mt-3 justify-content-center">
    <div class="card" style="width: 500px;">
        
        <img class="card-img-top" src="{% static 'images/user.png' %}" alt="Card image">

        <div class="card-body">            
            <form method="POST">{% csrf_token %}    
                <table>
                    {{form.as_table}}
                </table>
                <button class="btn btn-warning text-dark row col-10 ml-4 mt-3" type="submit">Modificar</button>

                <a href="{% url 'cliente_app:panel-cliente'%}" class="fa-solid fa-rotate-left btn btn-primary row col-10 ml-4 mt-3"></a>
            </form>
        </div>

    </div>
</div>
{% endblock content %}